body {
    background-color: black;
    color: aqua;
    text-align: center;
}

header {
    text-align: center;
    font-weight: 800;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

#gameSpace {
    display: block;
    margin: auto;
}

footer p {
    text-align: justify;
    padding-top: 3em;
    font-size: 2em;
}