body {
    background-color: black;
    color: aqua;
    text-align: center;
}

header {
    text-align: center;
    font-weight: 800;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

#playAgain {
    font-size: 3em;
    border-radius: 25px;
    font-family: cursive;
    padding: 0.25em 1em;
    color: blue;
    background-color: #d21e64;
    font-weight: 800;
}

#gameSpace {
    display: block;
    margin: auto;
}

footer p {
    text-align: justify;
    padding-top: 3em;
    font-size: 2em;
}